
body {
    background-color: violet;
}

#calculator-body {
    background-color: black;
    display: block;
    width: 400px;
    height: 690px;
    margin: auto;
    position: relative;
}

.number-container {
    display: inline-flex;
    flex-wrap: wrap;
}

#calculator-buttons {
    background-color: black;
    width: 352px;
    margin: auto auto 0 auto;
}

#calculator-left {
    display: inline-flex;
    flex-wrap: wrap;
    width: 263px;
}

#calculator-numbers {
    display: block;
    background-color: black;
}

#calculator-right {
    background-color: black;
    display: inline-flex;
    flex-wrap: wrap;
    width: 85px;
}

#calculator-main-display {
    background-color: black;
    width: 340px;
    height: 100px;
    margin: 0 auto 20px auto;
    text-align: right;
    font-size: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#calculator-secondary-display {
    background-color: black;
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: right;
}

.number-button {
    background-color: darkslategrey;
    color: floralwhite;
}

.button-container {
    flex: 0 0 50%;
    margin: 3px;
}

.operator-button {
    background-color: orange;
    color: floralwhite;
}

#calculator-misc {
    display: block;
    background-color: black;
    width: 100%;
}

.misc-button {
    background-color: silver;
    color: black;
}

.button {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    margin: 5px;
}

/* #zero {
    padding: 20px;
    width: 150px;
    border-radius: 25%;
} */

/* #button-wrapper {
    width: 89.7%;
    margin: 0 auto;
    position: relative;
} */

.button-wrapper {
    margin: 0 auto;
}

#perc-button, #neg-button {
    color: gray;
}